:root{
	/* Color theme */
	--intro-background-color: #0e1a24;
	--background-color: #080808;
	--highlight-background-color: #262626;
	--highlight-background-color-99: #262626FC;
	--highlight-background-color-90: #262626E6;
	--color-font: #ffffff;
	--color-font-sub: #ababab;;
	--main-color: #ff3500;
	--main-color-bright: #ff7000;
	--main-color-dark: #cc2900;
	--award-color: #ff1000;
	/* Font Sizes */
	--font-header: 20px;
	--font-main: 18px;
	--font-title: 45px;
	--font-subtitle: 25px;
	--font-small: 14px;
	--font-footnote: 10px;
}
@media (max-width: 1250px) {
	:root{
		--font-main: 14px;
		--font-title: 35px;
		--font-subtitle: 18px;
	}
}
@media (max-width: 550px) {
	:root{
		--font-main: 13px;
		--font-small: 12px;
		--font-title: 30px;
		--font-subtitle: 15px;
	}
}


*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	background: var(--background-color);
	color: var(--color-font);
}
#header{
	width: 100%;
	height: 100vh;
	background-image: url("images/background.png");
	background-size: auto 100vh;
	background-position: 75%;
	background-position-x: 75%;
	background-position-y: 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	top: -100vh;
	margin-bottom: -100vh;
}
#header-animation{
	width: 100%;
	height: 100vh;
	background: var(--intro-background-color);
	background-size: cover;
	background-position: center;
}
.container{
	padding: 10px 10%;
}
nav{
	display: flex;
	align-items:  center;
	justify-content: right;
	flex-wrap: wrap;
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}
nav ul li a{
	color: var(--color-font);
	text-decoration: none;
	font-size: var(--font-header);
	position: relative;
}
nav ul li a:after{
	content: '';
	width: 0;
	height: 3px;
	background: var(--main-color);
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}
nav ul li a:hover::after {
	width: 100%;
}
nav .menu-icon{
	width: 0;
}
nav .icon-small{
	width: 0;
}
.nobr{
	white-space: nowrap;
}
.header-text{
	margin-top: 32vh;
	font-size: 30px;
}
.header-text h1{
	margin-top: 20px;
	font-size: 60px;
}
.header-text h1 .gradient{
	/* color: #ff3500; */
	background: linear-gradient(45deg, var(--main-color-bright), var(--main-color));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* bio */

#bio{
	padding: 80px 0 30px;
	color: var(--color-font-sub);
	top: -100vh;
}
.row{
	display: inline-flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.bio-col-1{
	flex-basis: 35%;
}
.bio-col-1 .bio-img{
	width: 100%;
	border-radius: 15px;
}
.bio-col-1 .social{
	margin-top: 10px;
}
.bio-col-2{
	flex-basis: 60%;
	font-size: var(--font-main);
}
.bio-col-2 p a{
	color: var(--main-color);
	text-decoration: none;
}
#bio-text{
	scroll-margin-top: 80px;
}
.sub-title{
	font-size: var(--font-title);
	font-weight: 600;
	color: var(--color-font)
}
.tab-titles{
	display: flex;
	margin: 30px 0 50px;
}
#t1:hover{
	color: var(--color-font);
}
#t2:hover{
	color: var(--color-font);
}
#t3:hover{
	color: var(--color-font);
}
#t4:hover{
	color: var(--color-font);
}
#t5:hover{
	color: var(--color-font);
}
.tab-links {
	margin-right: 50px;
	font-size: var(--font-subtitle);
	font-weight: 500;
	cursor: pointer;
	position: relative;
}
.tab-links:after {
	content: '';
	width: 0;
	height: 3px;
	background: var(--main-color);
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}
.tab-links.active-link::after{
	width: 50%;
}
.tab-contents{
	display: none;
}
.tab-contents.active-tab{
	display: block;
}
.tab-contents ul li{
	list-style: none;
	margin: 10px 0;
}
.tab-contents ul li sup{
	font-size: var(--font-footnote);
}
.tab-contents a{
	color: var(--color-font-sub);
}
.skl{
	color: var(--main-color-dark);
	font-size: var(--font-small);
}
.metric{
	color: var(--color-font);
}
.footnote{
	padding-top: 50px;
	font-size: var(--font-small);
}

/* research */

#research{
	padding: 30px;
}
.research-topics{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}
.research-topics .outer {
	display: block;
	background: var(--highlight-background-color);
	color: var(--color-font-sub);
	padding: 40px;
	font-size: var(--font-main);
	border-radius: 10px;
	transition: background 0.5s, transform 0.5s;
}
.research-topics .outer:hover{
	background: var(--main-color);
	transform: translateY(-10px);
}
.research-topics div h2{
	color: var(--color-font);
	font-size: var(--font-subtitle);
	font-weight: 500;
	margin-bottom: 10px;
}
.research-topics div a{
	text-decoration: none;
	font-size: var(--font-footnote);
	margin-top: 5px;
	display: inline-block;
}
.icon{
	width: 50px;
	height: 50px;
	margin-bottom: 20px;
	margin-right: 20px;
}

/* publications */

#publications{
	padding: 30px;
	color: var(--color-font-sub);
}
#publications .container{
	padding-right: 5%;
}
#publications h1 a{
	text-decoration: none;
	color: var(--font-main);
}
.publications-year{
	list-style: none;
	padding: 0;
	margin-top: 0;
}
.publications-year ol li{
	list-style: none;
	margin-top: 20px;
}
.publications-year .row{
	display: flex;
	align-items: center;
	justify-content: left;
	flex-wrap: nowrap;
	padding: 0;
}
.publications-year .col-attr{
	flex-basis: max(10%, 7.5rem);
}
.publications-year .col-attr li{
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 0;
	padding: 0.2rem 1rem 0.1rem;
	border-radius: 2px;
	color: var(--color-font);
}
.publications-year .col-attr .base{
	background-color: var(--main-color);
}
.publications-year .col-attr .conference{
	background-color: var(--main-color-bright);
}
.publications-year .col-attr .award{
	background-color: var(--award-color);
}
.publications-year .col-pub{
	flex-basis: 85%;
	padding-left: 50px;
	font-size: var(--font-main);
}
.publications-year .title{
	font-weight: 700;
	color: var(--color-font);
}
.publications-year .published{
	font-style: italic;
}
.publications-year .me{
	text-decoration: underline;
}
.publications-year .links li {
	font-size: var(--font-small);
	display: inline-block;
	border-style: solid;
	border-width: 2px;
	border-radius: 2px;
	margin-right: 7px;
	margin-top: 0.5rem;
	cursor: pointer;
	transition: 0.1s;
}
.publications-year .links li:hover{
	border-color: var(--main-color);
}
.publications-year .links li:after{
	content: '';
	width: 0;
}
.publications-year .links li a{
	text-decoration: none;
	color: var(--color-font-sub);
	display: block;
	padding: 0.2rem 1rem 0.1rem;
	height: 100%;
	width: 100%;
	transition: 0.1s;
	&:hover{
		color: var(--main-color);
	}
}
.abstract{
	border-style: dashed;
	border-width: 1px;
	border-color: var(--color-font-sub);
	font-size: var(--font-main);
	margin-top: 1rem;
	padding: 10px;
	display: none;
}
.active-abstract-link{
	border-color: var(--main-color);
}
.abstract.active-abstract{
	display: inline-block;
}

/* projects */

#projects{
	padding: 30px 0;
}
.project-list{
	display: grid;
	/* < 4 cols */
	grid-template-columns: repeat(auto-fit, minmax(min(max(300px, 26%), 100%), 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}
.project {
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	display: none;
}
html.cannot-touch .project:hover .bg-img{
	transform: scale(1.1);
	transition: 0.2s;
}
html.cannot-touch .project:hover .layer{
	height: 100%;
	transition: 0.3s;
	transition-delay: 0.2s;
}
html.cannot-touch .project:hover span{
	opacity: 100%;
	transition: 0.3s;
	transition-delay: 0.2s;
}
.project.active-project{
	display: block;
}
.project img{
	width: 100%;
	border-radius: 10px;
	display: block;
	transition: 0.5s;
}
.layer{
	width: 100%;
	height: 0;
	background: linear-gradient(
		var(--highlight-background-color-90),
		var(--highlight-background-color-99),
		var(--highlight-background-color)
	);
	border-radius: 5px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 20px;
	text-align: left;
	font-size: var(--font-small);
	color: var(--color-font-sub);
	transition: 0.3s;
}
.project.open-project .layer{
	height: 100%;
	transition: 0.3s;
	transition-delay: 0.2s;
}
.layer h3{
	font-weight: 500;
	font-size: var(--font-subtitle);
	color: var(--color-font)
}
.layer span{
	margin-top: 20px;
	opacity: 0;
}
.project.open-project .layer span{
	opacity: 100%;
}
.layer .icon-small{
	width: 50px;
	height: 50px;
	margin-top: 20px;
}
.layer .icon-small.icon-more{
	height: 0;
	margin-top: 0;
}
.btn {
	display: table;
	margin: 50px auto;
	border: 1px solid #ffffff;
	padding: 10px 30px;
	border-radius: 6px;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	transition: 0.1s;
}
.btn:hover{
	color: #ff3500;
	border-color: #ff3500;
}
#btn-close{
	display: none;
}

/* Footer */

footer{
	margin-top: 100px;
	background: #0e1a24;
}
footer .row{
	padding: 0.5rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.col-copyright{
	flex-basis: 45%;
	display: flex;
	justify-content: left;
	align-items: center;
}
.col-social {
	flex-basis: 180px;
	justify-content: right;
}
.social{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.social ul li{
	display: inline-block;
	list-style: none;
	margin: 0 5px;
	padding: 0;
}
.social .icon-small{
	width: 30px;
	height: 30px;
}

/* mobile adjustments */

.menu-icon{
	display: none;
}

@media only screen and (max-width: 1600px) {

	/* shrink bio-text */

	.tab-links{
		margin-right: 20px;
	}
}

@media only screen and (max-width: 1250px) {

	/* shrink main title, bio-pic, condense margins */

	.header-text{
		margin-top: 40vh;
		font-size: 25px;
	}
	.header-text h1{
		font-size: 50px;
	}
	.bio-col-1{
		flex-basis: 40%;
		margin-bottom: 30px;
	}
	.bio-col-2{
		flex-basis: 55%;
	}
	.research-topics{
		grid-gap: 15px;
	}
	.research-topics .outer {
		padding: 25px;
	}
}

@media only screen and (max-width: 1050px) {

	/* bio-pic over bio-text, change research */

	.header-text{
		margin-top: 45vh;
		font-size: 20px;
	}
	.header-text h1{
		font-size: 40px;
	}
	.bio-col-1{
		flex-basis: 100%;
		padding: 0 15vw;
	}
	.bio-col-2{
		 flex-basis: 100%;
	}
	.research-topics .outer{
		display: flex;
	}
	.research-topics .icon{
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 900px) {

	/* collapse header, publications, research */

	.container{
		padding: 10px 5%;
	}
	#header .container{
		padding-right: 20px;
	}
	.header-text{
		margin-top: 50vh;
		margin-right: 50%;
		font-size: 20px;
	}
	nav .menu-icon{
		width: 30px;
		height: 30px;
		display: block;
		cursor: pointer;
	}
	nav ul .menu-icon{
		position: absolute;
		top: 25px;
		left: 25px;
	}
	nav ul .icon-small{
		width: 28px;
		height: 28px;
		display: block;
		cursor: pointer;
	}
	nav .ul1{
		background: #ff3500F0;
		position: fixed;
		top: 0;
		right: -200px;
		width: 200px;
		height: 100vh;
		padding-top: 50px;
		z-index: 2;
		transition: right 0.5s;
	}
	nav .ul1 li{
		display: block;
		margin: 25px;
	}
	nav .ul2 li{
		display: inline-block;
		margin: 2px 3px;
		padding: 0;
	}
	nav ul li a:after{
		background: var(--highlight-background-color);
	}
	.bio-col-1{
		padding: 0 10vw;
	}
	.bio-col-1 .social{
		margin-top: 0;
		display: none;
	}
	.publications-year .row{
		display: block;
	}
	.publications-year .col-pub{
		padding: 0;
	}
	.project span{
		max-height: 0;
	}
	.layer{
		height: 30%;
		opacity: 100%;
	}
	.layer a{
		height: 0;
	}
	.layer .icon-small{
		height: 0;
		transition: 0s;
		transition-delay: 0s;
	}
	.layer .icon-small.icon-more{
		height: 50px;
		margin: -10px 0;
		transition: 0.5s;
		transition-delay: 0s;
	}
	.project.open-project span, .project:hover span{
		max-height: 5000px;
		transition-delay: 0.2s;
	}
	.project.open-project .icon-small, .project:hover .icon-small{
		height: 50px;
		transition-delay: 0.3s;
	}
	.project.open-project .icon-small.icon-more, .project:hover .icon-small.icon-more{
		height: 0;
		margin-top: 0;
		transition-delay: 0s;
	}
}
html.can-touch{
	.project span{
		max-height: 0;
	}
	.layer{
		height: 30%;
		opacity: 100%;
	}
	.layer a{
		height: 0;
	}
	.layer .icon-small{
		height: 0;
		transition: 0s;
		transition-delay: 0s;
	}
	.layer .icon-small.icon-more{
		height: 50px;
		margin: -10px 0;
		transition: 0.5s;
		transition-delay: 0s;
	}
	.project.open-project span{
		max-height: 5000px;
		transition: 0.3s;
		transition-delay: 0.2s;
	}
	.project.open-project .icon-small{
		height: 50px;
		transition-delay: 0.3s;
	}
	.project.open-project .icon-small.icon-more{
		height: 0;
		margin-top: 0;
		transition-delay: 0s;
	}
}

@media only screen and (max-width: 600px){

	/* smallest margins */

	.container{
		padding: 10px 5%;
	}
	.tab-links{
		margin-right: 10px;
	}
	.tab-titles {
		flex-wrap: wrap;
	}
	.tab-titles p{
		margin-top: 0.8rem;
	}
	.bio-col-1{
		padding: 0;
	}
}

@media only screen and (max-width: 450px) {
	#header{
		background-position: 65%;
		background-position-x: 65%;
		background-position-y: 0;
	}
}

@media only screen and (max-width: 400px) {
	.col-copyright{
		flex-basis: 100%;
		justify-content: left;
	}
	.col-social {
		margin-top: 10px;
		flex-basis: 100%;
		justify-content: left;
	}
}

@media only screen and (max-width: 300px) {
	.research-topics .icon{
		width: 0;
		margin-right: 0;
	}
	.research-topics .outer{
		padding: 25px 15px;
	}
}